@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-start { // вроде бы в этом миксине нет смысла, т.к. по умолчанию justify-content и align-items: flex-start;;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@mixin button {
  width: $button-width;
  height: $button-height;
  padding: rem(18px) rem(35px);
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  font-size: rem(19px);
  font-weight: bold;
  border-radius: $button-height/2; 
  border: none;
  cursor: pointer;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}