//devises
$tablets: 768px;
$container-width: 940px;

// fonts

$f-size_base: 18px;
$f-size_title: 48px;

//colors

$white: #fff;
$black: #000;
$black-two: #151515;
$charcoal: #2e2e2d;
$brownish-grey: #666666;
$brownish-grey-two: #626262;
$pine: #365a49;
$light-grey-blue: #86c3d7;
$faded-blue: #60aacc;
$light-grey: #f2f5f4;
$light-grey2: #f8faf9;
$yellow: #dee2bd;

//buttons
$button-width: 156px;
$button-height: 58px;

//z-indexes
$z-fixed-menu: 100;


