//devises
$tablets: 768px;
$phones: 480px;
$container-width: 940px;
$container-tablets-width: $tablets * .95;
$container-phones-width: $phones * .95;

// fonts

$f-size_base: 18px;
$f-size_title: 48px;

//colors

$white: #fff;
$black: #000;
$black-two: #151515;
$charcoal: #2e2e2d;
$brownish-grey: #666666;
$brownish-grey-two: #626262;
$pine: #365a49;
$light-grey-blue: #86c3d7;
$faded-blue: #60aacc;
$light-grey: #f2f5f4;
$light-grey2: #f8faf9;
$yellow: #dee2bd;

//buttons
$button-width: rem(156px);
$button-height: rem(58px);

//z-indexes
$z-page-dots: 100;


