.benefits {
  @include flex-center;

  @include phones {
    flex-direction: column;
    align-items: flex-start;
  }

  &__item {
    flex: 1;
    padding: 0 3%; // По правилам это должен быть марджин. Но нам надо позиционировать пузырьки между иконками. 
    // Т.к. марджин в %, мы не можем абсолютом правильно выставить пузырьки на середину.
    // Поэтому мы заменили марджин на паддинг, теперь, right: 0 ставит прямо на границу (середину). 
    position: relative;

    @include tablets {
      padding: 0 3.5%;
    }
    
    @include phones {
      padding: 0;
      margin-bottom: 40px;
      display: flex;
    }



    &:before {
      content: url('./img/icons/bubbles.png');
      position: absolute;
      top: rem(52px);
      right: 0;
      transform: translateX(50%);

      @include tablets {
        content: '';
      }
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;

      &:before {
        display: none;
      }

    }
  }
}

.benefit {
  @include flex-between;
  flex-direction: column;

  @include phones {
    flex-direction: row;
    justify-content: flex-start;
  }

  &__image {
    margin-bottom: rem(35px);

    @include tablets {
      margin-bottom: rem(25px);
    }
    @include phones {
      margin-bottom: 0;
      margin-right: 14px;
    }
  }

  &__wrapper {
    width: 126px;
    height: 126px;
    border-radius: 50%;
    background-color: $light-grey;
    @include flex-center;  // Сабанцев сделал абсолютом! (почему?)
    overflow: hidden;
  }

  // &__icon {
  //   width: rem(75px);
  //   height: rem(69px);
  // }

  &__title {
    font-size: 27px;
    color: $black;
    font-weight: bold;
    margin-bottom: rem(25px);
    
    @include tablets {
      margin-bottom: rem(15px);
    }

  }  

  &__text {
    @include flex-center;
    flex-direction: column;

    @include phones {
      justify-content: flex-start;
      align-items: flex-start;
      padding-right: 1%;
    }
  }

  &__desc p {
    // text-align: center; // сделано флексом
    font-size: $f-size_base;
  }

  &__desc {
    @include phones {
      display: flex;
      justify-content: flex-start;
    }
  }

}


