.button {
  @include button;
  
  &--white {
    background-color: $white;
    color: $pine;

    &:hover {
      background-color: $pine;
      color: $white;
    }
  }
  
  &--pine {
    background-color: $pine;
    color: $white;
    
    &:hover {
      background-color: $white;
      color: $pine;
    }
  }

  &--transparent {
    background-color: transparent;
    color: $pine;
    font-size: $f-size_base;
    text-transform: none;
    font-weight: normal;
    box-shadow: none;
    outline: none;
  
    &:hover {
      color: $black;
    }
  }
}