
.feature {
  display: flex;

  &__icon {
    // width: 45px; // зачем нам здесь ширина? 
    // Если ее задать, иконка грузовика вываливается из своей ширины и отступ до текста меньше, чем по макету
    margin-right: 9px;
  }

  &__text {
    font-size: 16px;
    max-width: 85px;
  }

}