
.feature {
  display: flex;

  &__icon {
    // width: 45px; // зачем нам здесь ширина? 
    // Если ее задать, иконка грузовика вываливается из своей ширины и отступ до текста меньше, чем по макету
    margin-right: rem(9px);
  }

  &__text {
    font-size: rem(16px);
    max-width: rem(85px);
  }

}