.form {
  display: flex;

  &__col {
    flex: 1;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__row {
    display: flex;
    margin-bottom: 18px;
    
  }

  &__block {
    flex: 1;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__input {
    width: 100%; // это позволяет растянуть инпуты на ширину form__block.
    // у меня почему-то наобогрот блочки сжимаются. Непонятен механизм этого.
    border: 0;
    padding: 18px 11px;
    border: 3px solid transparent;
    height: 59px;

    &:focus {
      border-color: $yellow;
      outline: none;  //убираем подсветку рамки при фокусе, которая встроена автоматом. 
    }
    
    &--textarea {
      height: 180px;
      resize: none;  // запрет на растягивание textarea курсором
    }
  }
  
  &__controls {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
  }

  &__button {
    display: flex;
    margin-top: 40px;
  }
}

