.interactive-avatar {
  width: rem(80px);
  height: rem(80px);
  // border: 6px solid transparent;  перенес отсюда на ссылку
  position: relative;
  
  &--active .interactive-avatar__link {
    border-color: $pine;
  }
  
  &__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block; //почему ?  видео №7 07:42  "т.к. мы изменяли размеры ссылки"
    border-radius: 50%;
    border: 6px solid transparent; 
    overflow: hidden; // ПОЧЕмУ?


    &:focus {
      border-color: $pine;
    }
  }

  &__img {
    display: block; //почему ?
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

}