.order {
  background-image: url('../../img/layer1.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: $pine;
  
  position: relative;

  &:before {
    content: url('../../img/berries7.png');
    position: absolute;
    left: 2%;
    bottom: 10%;
  }

  &:after {
    content: url('../../img/leaves7.png');
    position: absolute;
    right: 0;
    bottom: 9%;
  }

  &__container {
    height: 100%;
    padding: 85px 0;
  }

  &__title {
    text-align: center;
    margin-bottom: 40px;
  }




}