.order {
  background-image: url('./img/layer1.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: $pine;
  
  position: relative;

  &:before {
    content: url('./img/berries7.png');
    position: absolute;
    left: 2%;
    bottom: 10%;

    @include tablets {
      display: none;
    }
  }

  &:after {
    content: url('./img/leaves7.png');
    position: absolute;
    right: 0;
    bottom: 9%;

    @include tablets {
      display: none;
    }
  }

  &__container {
    @include flex-center;
    flex-direction: column;
    height: 100%;
    padding: rem(85px) 0;

    @include tablets {
      flex: 1;
      padding: 0 125px 10px;
    }

  }

  &__title {
    text-align: center;
    margin-bottom: rem(40px);

    @include tablets {
      margin-bottom: rem(35px);
    }
  }

}