
.phone {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover .phone__number {
    box-shadow: 0 0 rem(10px) rgba(0, 0, 0, 0.2);
  }

  &--white {
    color: $white;
  }

  &--green {
    color: $pine;
  }

  &__icon {
    margin-right: rem(6px);
    width: rem(12px);
    height: rem(11px);
    fill: currentColor;    
  }

  &__number {
    &--24px {
      font-size: rem(24px);
    }

    &--21px {
      font-size: 21px;
    }
  }
}