.radio {
  display: flex;
  position: relative;
  cursor: pointer; // чтобы появился указательный палец при наведении курсора
  user-select: none; // чтобы отключить выделение наименования поля при клике по нему
  margin-right: rem(23px);

  &--checkbox {
    .radio__visible {
      border-radius: 0;

      &::before {
        background: url('./img/icons/tick.png') center center no-repeat;
      }
    }
  }

  &:last-child {
    margin-right: 0;
  }

    &__elem {
      // display: none;  такой вариант лучше не использовать - нельзя перемещаться табом, проблемы с сервером
      position: absolute;
      clip: rect(0 0 0 0); // другой способ спрятать элемент
      width: 1px;
      height: 1px;
      margin: -1px;


      &:checked, &:focus ~ .radio__visible {
        &::before {
          display: block;
        }
      }
    }

    &__visible {
      width: rem(26px);
      height: rem(26px);
      border-radius: 50%;
      position: relative;
      margin-right: rem(10px);
      background-color: $white;


      &:before {
        content: "";
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: rem(14px);
        height: rem(14px);
        border-radius: 50%;
        background-color: $pine;
        
      }
    }
    
  }