.reviews {
  color: $brownish-grey;
  position: relative;
  
  &__container {
    height: 100%;
    padding: rem(60px) 0 rem(66px);
    @include flex-center;
    flex-direction: column;
    
    @include tablets {
      padding: 0;
    }

  }

  &__title {
    color: $black;
    margin-bottom: rem(30px);

    @include tablets {
      margin-bottom: rem(45px);
    }
  }

   
  &:before {
    content: url('../../img/review_layers.png'); 
    left: 0;
    bottom: 0;
    transform: translate(0, 50%);
    position: absolute;
  }

  &:after {
    content: url('../../img/berries5.png'); 
    right: 0;
    top: 0;
    transform: translate(-12%, 42%);
    position: absolute;

    @include tablets {
      transform: translate(20%, 20%);
    }
  }

}
